<ion-view title="Agregar Habitos" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="agregarHabitos-form4" class="list">
      <label class="item item-input item-stacked-label" id="agregarHabitos-input8" name="nuevo">
        <span class="input-label">Nuevo Habito</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="agregarHabitos-select2" name="img">
        <span class="input-label">Imagen</span>
        <select>
          <option>Img 1</option>
          <option>img 2</option>
        </select>
      </label>
      <label class="item item-select" id="agregarHabitos-select1" name="tiempo">
        <span class="input-label">Tiempo diario</span>
        <select>
          <option>5 Minutos</option>
          <option>10 Minutos</option>
          <option>15 Minutos</option>
          <option>20 Minutos</option>
          <option>30 Minutos</option>
          <option>1 Hora</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label" id="agregarHabitos-input10" name="hora">
        <span class="input-label">Fijar Hora </span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="agregarHabitos-input9" name="finaliza">
        <span class="input-label">Finaliza</span>
        <input type="date" placeholder="">
      </label>
    </form>
    <button id="agregarHabitos-button6" class="button button-positive  button-block">Agregar</button>
  </ion-content>
</ion-view>