<ion-view title="Creando Habitos" id="page2" style="background-color:default;">
  <ion-content padding="true" class="has-header">
    <h3 id="creandoHabitos-heading2" style="color:#000000;">¿ Como Funciona ?</h3>
    <div id="creandoHabitos-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Simplemente diligencia el formato con la actividad que quiera realizar diariamente, dejando en claro el tiempo que le pueda dedicar, fijar una hora en el cual pueda realizar dicha actividad y por definir una meta ya se una semana, uno o varios meses
        y listo, la
        <strong>App</strong> le estara recordando con anticipacion que tiene que realizar su actividad. Al finalizar se le preguntara si realizo la actividad propuesta, recuerde que la honestidad es con usted mismo.</p>
    </div>
  </ion-content>
</ion-view>