<ion-view title="Ingresar" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="ingresar-form2" class="list">
      <ion-list id="ingresar-list2">
        <label class="item item-input" id="ingresar-input3" name="email_login">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="ingresar-input4" name="psd_login">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
    </form>
    <button id="ingresar-button7" class="button button-positive  button-block">Ingresar</button>
    <a ui-sref="registro" id="ingresar-button8" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block">Registro</a>
  </ion-content>
</ion-view>