<ion-view title="Registro" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="registro-form3" class="list">
      <ion-list id="registro-list3">
        <label class="item item-input" id="registro-input5" name="nombre">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="Rodrigo">
        </label>
        <label class="item item-input" id="registro-input6" name="email">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Rodrigo1914@ejemplo.com">
        </label>
        <label class="item item-input" id="registro-input7" name="psd">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="*******">
        </label>
      </ion-list>
    </form>
    <button id="registro-button9" class="button button-positive  button-block">Enviar</button>
  </ion-content>
</ion-view>